
.background-image {
    background-image:linear-gradient(rgba(5, 0, 0, 0.5),rgba(59, 29, 29, 0.5) ), url(/images/pexels.jpg);
    height:100vh;
    position:relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

.overlay {
    width: 35rem;
    height: fit-content;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    
}

@media screen and (max-width: 559px) {
    .overlay {
      width: 100%;
    }
    .background-image{
      padding: 0 0.625rem;

    }
  }